#pagetotal{
  width:100%;
  margin:auto;
}
#blocheader{
  width:92%;
  height:15%; 
  background: #c90017 ;
  margin-left:4%; 
}
#blocschool{
  width:92%;
  height:20%; 
  background: white ;
  margin-left:4%; 
}
#blocslider{
width: 92%;
height: 100%;
 margin-left:4%; 
background: white;
}
#blocbody{
width: 92%;
margin: auto;
 margin-left:4%; 
background: white;
margin-top: -1.5%;
}
#blocfooter{
  width:92%;
  height:20%; 
  margin-left:4%; 
}
nav ul{
 display:flex;
 list-style-type:none;
 float: right;
 margin-right:18%;
 margin-top:3%; 
}
nav li{
  margin-left:8%;

}
nav a{
  color:white; 
 text-decoration:none;
 font-size: 90%;

}

#ecole{
  float: right;
  margin-right:48%;
  color:#ad8b3a;
   font-size: 47px; 
   margin-top: 3.5%;	
}
#tech{
  float: right;
  margin-right:-17%;
  color:#ad8b3a;
   font-size: 47px; 
   margin-top: 3.5%;
}
#logo{
  width: 20%; 
  height: 20%;
  padding-top: 2%;
  margin-left:2%; 
}

/* blue button large */
.as-btn-blue-large {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #009cde;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-blue-large:hover {
    color: #fff;
    background: #0285d2;
}

.as-btn-blue-large:focus {
    outline: 0;
}

/* blue button medium */
.as-btn-blue-medium {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #009cde;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-blue-medium:hover {
    color: #fff;
    background: #0285d2;
}

.as-btn-blue-medium:focus {
    outline: 0;
}

/* blue button small */
.as-btn-blue-small {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #009cde;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-blue-small:hover {
    color: #fff;
    background: #0285d2;
}

.as-btn-blue-small:focus {
    outline: 0;
}

/* blue border large */
.as-btn-blueborder-large {
    display: inline-block;
    border: 2px solid #009cde;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #009cde;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-blueborder-large:hover {
    color: #fff;
    background: #009cde;
}

.as-btn-blueborder-large:focus {
    outline: 0;
}

/* blue border medium */
.as-btn-blueborder-medium {
    display: inline-block;
    border: 2px solid #009cde;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #009cde;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-blueborder-medium:hover {
    color: #fff;
    background: #009cde;
}

.as-btn-blueborder-medium:focus {
    outline: 0;
}

/* blue border small */
.as-btn-blueborder-small {
    display: inline-block;
    border: 2px solid #009cde;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #009cde;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-blueborder-small:hover {
    color: #fff;
    background: #009cde;
}

.as-btn-blueborder-small:focus {
    outline: 0;
}

/* orange button large */
.as-btn-orange-large {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #f7a020;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-orange-large:hover {
    color: #fff;
    background: #ffc030;
}

.as-btn-orange-large:focus {
    outline: 0;
}

/* orange button medium */
.as-btn-orange-medium {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #f7a020;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-orange-medium:hover {
    color: #fff;
    background: #ffc030;
}

.as-btn-orange-medium:focus {
    outline: 0;
}

/* orange button small */
.as-btn-orange-small {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #f7a020;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-orange-small:hover {
    color: #fff;
    background: #ffc030;
}

.as-btn-orange-small:focus {
    outline: 0;
}

/* orange border large */
.as-btn-orangeborder-large {
    display: inline-block;
    border: 2px solid #f7a020;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #f7a020;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-orangeborder-large:hover {
    color: #fff;
    background: #f7a020;
}

.as-btn-orangeborder-large:focus {
    outline: 0;
}

/* orange border medium */
.as-btn-orangeborder-medium {
    display: inline-block;
    border: 2px solid #f7a020;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #f7a020;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-orangeborder-medium:hover {
    color: #fff;
    background: #f7a020;
}

.as-btn-orangeborder-medium:focus {
    outline: 0;
}

/* orange border small */
.as-btn-orangeborder-small {
    display: inline-block;
    border: 2px solid #f7a020;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #f7a020;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-orangeborder-small:hover {
    color: #fff;
    background: #f7a020;
}

.as-btn-orangeborder-small:focus {
    outline: 0;
}

/* white button large */
.as-btn-white-large {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #444;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-white-large:hover {
    color: #fff;
    background: #444;
}

.as-btn-white-large:focus {
    outline: 0;
}

/* white button medium */
.as-btn-white-medium {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #444;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-white-medium:hover {
    color: #fff;
    background: #444;
}

.as-btn-white-medium:focus {
    outline: 0;
}

/* white button small */
.as-btn-white-small {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #444;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-white-small:hover {
    color: #fff;
    background: #444;
}

.as-btn-white-small:focus {
    outline: 0;
}

/* white border large */
.as-btn-whiteborder-large {
    display: inline-block;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-whiteborder-large:hover {
    color: #444;
    background: #fff;
}

.as-btn-whiteborder-large:focus {
    outline: 0;
}

/* white border medium */
.as-btn-whiteborder-medium {
    display: inline-block;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-whiteborder-medium:hover {
    color: #444;
    background: #fff;
}

.as-btn-whiteborder-medium:focus {
    outline: 0;
}

/* white border small */
.as-btn-whiteborder-small {
    display: inline-block;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-whiteborder-small:hover {
    color: #444;
    background: #fff;
}

.as-btn-whiteborder-small:focus {
    outline: 0;
}

/* navy button large */
.as-btn-navy-large {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #334455;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.as-btn-navy-large:hover {
    color: #fff;
    background: #445566;
}

.as-btn-navy-large:focus {
    outline: 0;
}

/* navy button medium */
.as-btn-navy-medium {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #334455;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.as-btn-navy-medium:hover {
    color: #fff;
    background: #445566;
}

.as-btn-navy-medium:focus {
    outline: 0;
}

/* navy button small */
.as-btn-navy-small {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #334455;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif,Arial;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.as-btn-navy-small:hover {
    color: #fff;
    background: #445566;
}

.as-btn-navy-small:focus {
    outline: 0;
}
#rec1{
    width:20%;
    height: 3%;
    background: #c90017;
    margin-left: 6%;
}
#rec2{
    width:20%;
    height: 3%;
    background: #c90017;
    margin-left: 28%;
     margin-top: -1.5%;
}
#rec3{
    width:20%;
    height: 3%;
    background: #c90017;
    margin-left: 50%;
     margin-top: -1.45%;
}
#rec4{
    width:20%;
    height: 3%;
    background: #c90017;
    margin-left: 72%;
     margin-top: -1.45%;
}
#pic1{
    margin-bottom: -13%;
    margin-left: 6%;
    width: 100%;
    max-height: 30%;
    margin-top: 2.5%;
}
#pic2{
    margin-left: 58.25%;
    margin-top: -2%;
}
#texte1{
    width: 30%;
    height:15%; 
    margin-top: 0%;
    margin-left: 6%;
}
#entete1{
    margin-top: 3%;
    text-align: center;
    font-family: montserrat;
}
#contenu1{
    font-size: 28px;
    margin-top: -1%;
    font: "open sans bold" ;
}
#texte2{
    width: 30%;
    height:15%; 
    margin-top: -8%;
    margin-left: 58.25%;
}
ul{
 list-style-type: square;
}
li{
 text-decoration: square;
    font-size: 28px;
}
a{
    }
#entete2{
    margin-top: 3%;
    text-align: center;
    font-family: montserrat;
}
#pic3{
    margin-top: 4.5%;
    margin-left: 32%;
}
#texte3{
    margin-top: 3%;
    margin-left: 30%;
    margin-top: -1%;
}
#entete3{

    margin-left: 18%;
      font-family: montserrat;
}
#contenu3{
    font-size: 28px;
    margin-left: 8%;
   font-family:"open sans bold" ;
   margin-top: -1%;
}
#formation{


}
#qq1{

  font-size: 40px;
  text-align: center;
  color:#ad8b3a;   
}
#pic01{
    margin-left: 6%;
}
#soutitre{
    margin-left: 6%;
    margin-top: -14%;
    font-size: 40px;
    color: white;
}
#bloc1{
    width:50%;
    margin-left: 40%;
    background: #ad8b3a;
    margin-top: -10%;
}

#tex{
    font-size: 20px;
    margin-left: 12%;
    color: white;
    }
#parti1{
    width: 100%;
    margin:auto;
    }
    #pic02{
    margin-top: 10%;
     margin-left: 15%;
}
#soutitre2{
    margin-left: 18%;
    margin-top: -14%;
    font-size: 47px;
    color: white;
}
#bloc2{
    width:50%;
    margin-left: 40%;
    background: #ad8b3a;
    margin-top: -10%;
}

#tex2{
    font-size: 20px;
    margin-left: 12%;
    color: white;
    }
    #parti2{
    width: 100%;
    margin:auto;
    }
    #pic03{
    margin-left: 6%;
    margin-top: 13%;
}
#soutitre3{
    margin-left: 6%;
    margin-top: -14%;
    font-size: 40px;
    color: white;
}
#bloc3{
    width:50%;
    margin-left: 40%;
    background: #ad8b3a;
    margin-top: -12%;
}
#tex3{
    font-size: 20px;
    margin-left: 12%;
    color: white;
    }
    #parti3{
    width: 100%;
    margin:auto;
    }
    #qq2{
   
  font-size: 40px;
  text-align: center;
  color:#ad8b3a; 
  margin-top: 5%;  
}
#formateur{
   
   
  margin-top: 10%;  
}
#toph1{ 
  margin-left: 6%;  
}
#signbi{ 
  margin-left: 6%;  
}
#signbi1{ 
  margin-left: 5%;  
}
#toph2{ 
  margin-left: 6%; 
  padding-left: 34%;
  margin-top: -22%; 
}
#signbi2{ 
  margin-left: 6%;  
}
#signbi3{ 
  margin-left: 5%;  
}
#toph3{ 
  margin-left: 6%; 
  padding-left: 64%;
  margin-top: -22%; 
}
#signbi4{ 
  margin-left: 6%;  
}
#signbi5{ 
  margin-left: 5%;  
}
#contact{ 
  width: 60%;
  height: 30%;
  margin-left: 20%;
  margin-top: 2%;
}
#qq3{

  font-size: 40px;
  text-align: center;
  color:#ad8b3a;   
}
#label1{
width: 10%;
margin-left:5%;    
}
#label2{
width: 10%;
margin-left:5%;
margin-top: 3%;    
}
#label3{
width: 10%;
margin-left:30%;
margin-top: -9.5%;    
}
#label4{
width: 10%;
margin-left:30%;
margin-top: 3%;    
}
#label5{
width: 10%;
margin-left:55%;
margin-top: -8%;    
}
#aa1{
width: 10%;
height: 10%; 
margin-top: 3%;   
}
#newsletter{ 
  width: 60%;
  height: 40%;
  margin-left: 20%;
  margin-top: 2%;
}
#qq4{

  font-size: 40px;
  text-align: center;
  color:#ad8b3a;   
}
#blo1{
width: 15%;
height: 2%;
  text-align: center;
  background:#ad8b3a;
  margin-left: 40%;
  margin-top: -3.5%;   
}